<section class="cv-section cv-section--personal">
  <div class="cv-section__personal-header">
    {{#if item.profilePicture}}
    <img class="cv-section__profile-picture" src="{{item.profilePicture}}" alt="Photo de profil" />
    {{else}}
    <img
      class="cv-section__profile-picture"
      src="/assets/img/default_avatar.png"
      alt="Photo de profil par défaut"
    />
    {{/if}}

    <div class="cv-section__personal-name">{{item.firstName}} {{item.lastName}}</div>
  </div>

  <ul class="cv-section__personal-details">
    {{#if item.email}}
    <li class="cv-section__personal-detail">
      <span class="cv-section__personal-detail-label">Email</span>
      <span>{{item.email}}</span>
    </li>
    {{/if}} {{#if item.phone}}
    <li class="cv-section__personal-detail">
      <span class="cv-section__personal-detail-label">Téléphone</span>
      <span>{{item.phone}}</span>
    </li>
    {{/if}} {{#if item.address}}
    <li class="cv-section__personal-detail">
      <span class="cv-section__personal-detail-label">Adresse</span>
      <span>{{item.address}}</span>
    </li>
    {{/if}}
  </ul>
</section>
